body {
    background: #020204;
    color: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 1px solid #32323D;
}

.header__line {
    border-bottom: 1px solid #32323D;
}

.header__line-wrapper {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

.header__line-lng-ru,
.header__line-lng-eng {
    color: var(--white);
    font-family: 'JSB';
    font-size: 14px;
    transition: all 300ms;
}

.header__line-lng-ru:hover, .header__line-lng-eng:hover, .header__line-tel:hover {
    color: #C7A17A;
}

.header__lng {
    display: flex;
    gap: 10px;
}

.header__line-tel {
    color: var(--white);
    font-family: 'JSB';
    font-size: 14px;
    transition: all 300ms;
}

.header__nav-link-a {
    color: #FFF;
    font-family: 'JSB';
    font-size: 15px;
    text-transform: uppercase;
    transition: all 300ms;
}

.header__nav-link-a:hover {
    color: #C7A17A;
}

.header__nav-list {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}

.header__nav-link-vital {
    display: flex;
    gap: 30px;
}

.header__nav-contant {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__nav-block,
.header__nav-link-vital {
    width: 40%;
}

.header__nav-link-vital.right {
    display: flex;
    justify-content: flex-end;
}

.main {
    height: 860px;
    background: linear-gradient(to right, #020204 63%, #14141D 47%);
}

.cart__title {
    color: #FFF;
    font-family: 'JBO';
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 40px;
    padding-top: 80px;
    display: inline-block;
}

.cart__block {
    height: 136px;
    border-radius: 10px;
    background: #14141D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__box-item {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart__block-text-title {
    color: #FFF;
    font-family: 'JBO';
    font-size: 16px;
    text-transform: uppercase;
}

.cart__block-text-text {
    color: #818181;
    font-family: 'JBO';
    font-size: 14px;
    text-transform: uppercase;
}

.cart__block-basket-text {
    color: #FFF;
    font-family: 'JB';
    font-size: 14px;
    text-transform: uppercase;
}

.cart__block-basket {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 57px;
    padding-right: 20px;
}

.cart__block-choice {
    display: flex;
    gap: 20px;
    max-width: 60px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #FFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart__block-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 25px;
}

.cart__block-start {
    display: flex;
    padding-left: 20px;
}

.cart__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cart__block-price-text {
    color: #FFF;
    font-family: 'JR';
    font-size: 15px;
    text-transform: capitalize;
}

.cart__block-price-text-2 {
    color: #FFF;
    font-family: 'JR';
    font-size: 15px;
    text-transform: uppercase;
}

.cart__block-price-text-5 {
    color: #FFF;
    font-family: 'JBO';
    font-size: 16px;
    text-transform: capitalize;
}

.cart__block-price-text-6 {
    color: #FFF;
    font-family: 'JBO';
    font-size: 16px;
    text-transform: uppercase;
}

.cart__block-price-btn {
    color: #FFF;
    font-family: 'JM';
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    max-width: 380px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #C7A17A;
    transition: all 300ms;
    border: none;
}

.cart__block-price-btn:hover {
    color: #C7A17A;
    background: #FFF;
}

.cart__block-price-1 {
    display: flex;
    gap: 298px;
    padding-bottom: 13px;
}

.cart__block-price-2 {
    display: flex;
    gap: 276px;
    padding-bottom: 28px;
}

.cart__block-price-3 {
    display: flex;
    gap: 240px;
    padding-bottom: 37px;
}

.footer__nav-link-a {
    color: #FFF;
    font-family: 'JSB';
    font-size: 15px;
    text-transform: uppercase;
    transition: all 300ms;
}

.footer__nav-link-a:hover {
    color: #C7A17A;
}

.footer__nav-list,
.footer__nav-list-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
}

.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 2px solid #14141D;
}

.footer__block {
    width: 33.33%;
}

.footer__a-title {
    color: #F8DABF;
    font-family: 'JB';
    font-size: 20px;
    text-transform: uppercase;
}

.footer__block-img {
    display: flex;
    align-items: center;
    gap: 4px;
}